<td class="id">
  {{model.id}}
</td>
<td class="businessId">
  <select name="groups" class="groups-select edit-mode-value" id="user-{{model.id}}-groups" multiple="true">
  {{#each business.business}}
    <option value="{{this.id}}"{{#in ../groupIds this.id}} selected="true"{{/in}}>{{this.name}}</option>
  {{/each}}
  </select>
  <span class="read-mode-value">{{locationName}}</span>
</td>
<td class="locationId">
  <select name="groups" class="groups-select edit-mode-value" id="user-{{model.id}}-groups" multiple="true">
  {{#each business.locations}}
    <option value="{{this.id}}"{{#in ../groupIds this.id}} selected="true"{{/in}}>{{this.name}}</option>
  {{/each}}
  </select>
  <span class="read-mode-value">{{locationName}}</span>
</td>
<td class="actions">
  <div class="btn-group">
    <button class="btn btn-small btn-edit btn-edit-save">
      <i class="icon-edit"></i>
    </button>
    <button class="btn btn-small btn-cancel hide">
      <i class="icon-ban-circle"></i>
    </button>
    <button class="btn btn-small btn-copy">
      <i class="icon-copy"></i>
    </button>
    <button class="btn btn-small btn-open-user">
      <i class="icon-user"></i>
    </button>
    <button class="btn btn-small btn-delete btn-danger">
      <i class="icon-trash"></i>
    </button>
  </div>
</td>