<td class="name">
  <textarea class="edit-mode-value field-name" rows="8" id="item-{{model.id}}-name">{{model.name}}</textarea>
  <span class="read-mode-value field-name">{{model.name}}</span>
</td>
<td class="description">
  <textarea class="edit-mode-value field-description" rows="8" id="item-{{model.id}}-description">{{model.description}}</textarea>
  <span class="read-mode-value">{{truncate model.description 80}}</span>
</td>
<td class="price">
  <input class="edit-mode-value field-price" value="{{money model.price}}" type="text" id="item-{{model.id}}-price">
  <span class="read-mode-value">${{money model.price}}</span>
</td>
<td class="categories">
  <select name="categories" data-placeholder="Select a Category" multiple="true" class="categories-select select-box field-categories" id="item-{{model.id}}-categories">
    <option></option>
  {{#each categories}}
    <option value="{{this.id}}"{{#in ../model.categories this}} data-blaaaaaahhhhh="blah" selected="true"{{/in}}>{{this.name}}</option>
  {{/each}}
  </select>
</td>
<td class="tags">
  <input type="hidden" value="{{_tags}}" data-placeholder="Select Tags" class="tags-select field-tags" id="item-{{model.id}}-tags">
</td>
<td class="photoUrl">
  <img class="photo-editor" src="{{filepicker model.photoUrl 100 100}}" />
</td>
<td class="actions">
  <div class="btn-group">
    <button class="btn btn-small btn-edit btn-edit-save">
      <i class="icon-edit"></i>
    </button>
    <button class="btn btn-small btn-cancel hide">
      <i class="icon-ban-circle"></i>
    </button>
    <button class="btn btn-small btn-copy">
      <i class="icon-copy"></i>
    </button>
    <button class="btn btn-small btn-delete btn-danger">
      <i class="icon-trash"></i>
    </button>
  </div>
</td>