<div id="dashboard-view" class="row-fluid">
  <div class="span6">
    {{#business}}
    <h5>Business Information <a href="#">edit</a></h5>
    <div class="row-fluid">
      <div class="span3">
        <img src="{{logoUrl}}" class="img"/>
      </div>
      <div class="span9">
        <h3>{{name}}</h3>
        <h4>{{url}}</h4>
      </div>
    </div>
    {{/business}}
    <hr />
    {{#location}}
    <h5>Location Information <a class="msg" data-msg-name="editLocation" href="#">edit</a></h5>
    <div class="row-fluid">
      <div class="span3">
        Address
      </div>
      <div class="span9">
        {{street1}} {{street2}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9 offset3">
        {{city}} {{state}} {{zip}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        Phone Number
      </div>
      <div class="span9">
        {{empty phone}}
      </div>
    </div>
    Hours
    <div class="row-fluid">
      <div class="span3">Monday</div>
      <div class="span9">{{showHours startMonday endMonday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Tuesday</div>
      <div class="span9">{{showHours startTuesday endTuesday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Wednesday</div>
      <div class="span9">{{showHours startWednesday endWednesday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Thursday</div>
      <div class="span9">{{showHours startThursday endThursday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Friday</div>
      <div class="span9">{{showHours startFriday endFriday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Saturday</div>
      <div class="span9">{{showHours startSaturday endSaturday}}</div>
    </div>
    <div class="row-fluid">
      <div class="span3">Sunday</div>
      <div class="span9">{{showHours startSunday endSunday}}</div>
    </div>
    {{/location}}
  </div>
  <div class="span6">
    {{#if multipleLocations}}
    <h3>Business Wide</h3>
    {{/if}}
    <div class="row-fluid">
      <div class="measure span4">
        <h5>Total Users</h5>
        <h3>{{business.measures.totalUsers}}
        </div>
        <div class="measure span4">
          <h5>Total Product Likes</h5>
          <h3>{{business.measures.totalLikes}}</h3>
        </div>
        <div class="measure span4">
          <h5>Total Punches</h5>
          <h3>{{business.measures.totalPunches}}</h3>
        </div>
      </div>
      {{#if multipleLocations}}
      <h3>At This Location</h3>
      <div class="row-fluid">
        <div class="measure span4">
          <h5>Total Users</h5>
          <h3>{{location.measures.totalUsers}}
          </div>
          <div class="measure span4">
            <h5>Total Product Likes</h5>
            <h3>{{location.measures.totalLikes}}</h3>
          </div>
          <div class="measure span4">
            <h5>Total Punches</h5>
            <h3>{{location.measures.totalPunches}}</h3>
          </div>
        </div>

        {{/if}}

        {{#business.loyalty}}
        <h5>Loyalty</h5>
        <p>Reward: {{reward}}</p>
        <p>Punches required to Earn Reward: {{regularPunchesRequired}}</p>
        <p>Punches required to become an Elite customer: {{punchesRequiredToBecomeElite}}</p>
        <p>Elite Punches required to Earn Reward: {{elitePunchesRequired}}</p>
        {{/business.loyalty}}
      </div>
    </div>
  </div>
</div>
<div id="location-edit" class="location-edit hide">
  <h3>Edit Location</h3>
  <div id="location-edit-container">
  </div>
  <legend>Operating Hours</legend>
  <div class="row">
    <div class="offset1 span6">
      <div id="hours-edit-container" class="control-group">
      </div>
    </div>
  </div>
  <button class="btn btn-primary msg" data-msg-name="saveLocationEdits">Save Changes</button>
  <button class="btn msg" data-msg-name="editLocationCancel">Cancel</button>
</div>
