<div id="dashboard-view">
  <h3>Your Goodybag Bizpanel Dashboard</h3>
  <hr />
  <div class="row-fluid">
    <div class="span6">
      {{#if multipleLocations}}
      <h4>All {{business.name}} Locations</h4>
      {{/if}}
      <div class="row-fluid">
        <div class="measure thumbnail span4">
          <h5 class="name">Total Users</h5>
          <h3 class="value">{{business.measures.totalUsers}}</h3>
        </div>
        <div class="measure thumbnail span4">
          <h5 class="name">Total Product Likes</h5>
          <h3 class="value">{{business.measures.totalLikes}}</h3>
        </div>
        <div class="measure thumbnail span4">
          <h5 class="name">Total Punches</h5>
          <h3 class="value">{{business.measures.totalPunches}}</h3>
        </div>
      </div>
      {{#if multipleLocations}}
      <h4>{{location.street1}} Location</h4>
      <div class="row-fluid">
        <div class="measure thumbnail span4">
          <h5 class="name">Total Users</h5>
          <h3 class="value">{{location.measures.totalUsers}}</h3>
        </div>
        <div class="measure thumbnail span4">
          <h5 class="name">Total Product Likes</h5>
          <h3 class="value">{{location.measures.totalLikes}}</h3>
        </div>
        <div class="measure thumbnail span4">
          <h5 class="name">Total Punches</h5>
          <h3 class="value">{{location.measures.totalPunches}}</h3>
        </div>
      </div>

      {{/if}}

    </div>
    <div class="span6">
      {{#business.loyalty}}
      <h5>Loyalty</h5>
      <p>Reward: {{reward}}</p>
      <p>Punches required to earn Reward: {{regularPunchesRequired}}</p>
      <p>Punches required to become an Elite Customer: {{punchesRequiredToBecomeElite}}</p>
      <p>Punches required to earn Elite Reward: {{elitePunchesRequired}}</p>
      {{/business.loyalty}}
      {{#business}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <hr />
      <h5>Business Information <a href="#" class="msg" data-msg-name="editBusiness">edit</a></h5>
      <div class="row-fluid">
        <div class="span3">
          <img src="{{productImage logoUrl 100}}" class="img"/>
        </div>
        <div class="span9">
          <h3>{{name}}</h3>
          <h4>{{url}}</h4>
        </div>
      </div>
      {{/business}}
    </div>
    <div class="span6">
      <hr />
      {{#location}}
      <h5>Location Information <a class="msg" data-msg-name="editLocation" href="#">edit</a></h5>
      <div class="row-fluid">
        <div class="span3">
          Address
        </div>
        <div class="span9">
          {{street1}} {{street2}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9 offset3">
          {{city}} {{state}} {{zip}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          Phone Number
        </div>
        <div class="span9">
          {{empty phone}}
        </div>
      </div>
      <h5>Hours of Operation</h5>
      <div class="row-fluid">
        <div class="span3">Monday</div>
        <div class="span9">{{showHours startMonday endMonday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Tuesday</div>
        <div class="span9">{{showHours startTuesday endTuesday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Wednesday</div>
        <div class="span9">{{showHours startWednesday endWednesday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Thursday</div>
        <div class="span9">{{showHours startThursday endThursday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Friday</div>
        <div class="span9">{{showHours startFriday endFriday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Saturday</div>
        <div class="span9">{{showHours startSaturday endSaturday}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Sunday</div>
        <div class="span9">{{showHours startSunday endSunday}}</div>
      </div>
      {{/location}}
    </div>
  </div>
</div>
<div id="location-edit" class="location-edit hide">
  <h3>Edit Location Information</h3>
  <hr />
  <div id="location-edit-container">
  </div>
  <legend>Operating Hours</legend>
  <div class="row">
    <div class="offset1 span6">
      <div id="hours-edit-container" class="control-group">
      </div>
    </div>
  </div>
  {{! add fake form here so the controls will line up}}
  <form class="form-horizontal">
    <div class="form-actions">
      <button class="btn btn-primary msg" data-msg-name="saveLocationEdits">Save Changes</button>
      <button class="btn msg" data-msg-name="editLocationCancel">Cancel</button>
    </div>
  </form>
</div>
<div id="business-edit" class="hide">
  <h3>Edit Business Information</h3>
  <hr />
  <div id="business-edit-container">
  </div>
</div>
