<div class="row-fluid">
  <div class="span12">
    <select class="msg" data-msg-name="changeCategoryOrderCategory">
      {{#categories}}
      <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
      {{/categories}}
    </select>
  </div>
</div>
{{#products}}
<div class="row-fluid product-row" data-id="{{id}}">
  <div class="span2">
    {{name}}
  </div>
  <div class="span2">
    {{order}}
  </div>
  <div class="span8">
    <div class="button-group">
      <div class="btn btn-small msg" data-msg-name="moveProductUp" data-id="{{id}}"><i class="icon-arrow-up"></i></div>
      <div class="btn btn-small msg" data-msg-name="moveProductDown" data-id="{{id}}"><i class="icon-arrow-down"></i></div>
    </div>
  </div>
</div>
{{/products}}
{{! add fake form here so the controls will line up}}
<form class="form-horizontal">
  <div class="form-actions">
    <button class="btn btn-primary msg" data-msg-name="saveCategoryOrderEdits">Save Changes</button>
    <button class="btn msg" data-msg-name="cancelCategoryOrderEdits">Cancel</button>
  </div>
</form>
