<div class="topnav">
  <div class="topnav-inner row-fluid">
    <a class="brand" href="#dashboard" class="msg">{{business.name}}</a>
    {{#if multipleLocations}}
    <span class="location dropdown">
      <button class="btn  dropdown-toggle" data-toggle="dropdown" href="#">Location: {{location.street1}} <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {{#each business.locations}}
        <li class="{{#active}}active{{/active}}">
        <a tabindex="-1" href="#" class="msg" data-msg-name="changeLocation" data-location-id="{{id}}">{{street1}}</a>
        </li>
        {{/each}}
      </ul>
    </span>
    {{else}}
    {{/if}}
    <ul class="nav pull-right">
      <li><a href="#settings" class="msg" data-msg-name="showSection" data-section="settings">Settings</a></li>
      <li><a href="#logout">Logout</a></li>
    </ul>
  </div>
</div>
