<div id="menuView">
  <h3>Manage the {{business.name}} Menu</h3>
  <hr />
  <div class="row-fluid">
    <div class="span6">
      {{!-- dummy form so boostrap will style}}
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Categories:</label>
          <div class="controls controls-row">
            <select id="categorySelect">
              {{#sections}}
              <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
              {{/sections}}
            </select>
          </div>
        </div>
        <div class="form-actions" style="border:none; background-color:inherit; padding-top:0">
          <button class="btn btn-small msg" data-msg-name="editCategories">Edit Categories</button>
        </div>
      </form>
    </div>
    <div class="span6">
      <form class="form-search">
        <div class="input-append">
          <input type="text" class="span12 search-query" id="productSearchText" placeholder="Search by Item Name or Section" value="{{searchString}}"/>
          <button type="submit" class="btn msg" data-msg-name="searchProducts"><i class="icon-search"></i> Search</button>
        </div>
      </form>
      <button class="btn btn-primary msg" data-msg-name="newProduct"><i class="icon-plus"></i> Add New Item</button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="menu-products table">
        <thead>
          <tr>
            <td>Item</td>
            <td width="50px" class="msg" data-msg-name="sortProducts" data-sort-field="price" data-sort-direction="{{sortDirection}}">
              Price 
              {{#sortPrice}}
              <i class="{{sortIcon}}"></i>
              {{/sortPrice}}
            </td>
            <td>Category</td>
            <td width="80px" class="msg" data-msg-name="sortProducts" data-sort-field="likes" data-sort-direction="{{sortDirection}}">
              # of Likes 
              {{#sortLikes}}
              <i class="{{sortIcon}}"></i>
              {{/sortLikes}}
            </td>
            <td width="100px">Tags</td>
            <td width="90px"></td>
          </tr>
        </thead>
        <tbody>
          {{#products}}
          <tr>
            <td>
              <table class="product-view-container">
                <tr class="product-view">
                  <td class="product-photo" rowspan="2">
                  <img class="msg" data-msg-name="showPhoto" data-url="{{photoUrl}}" data-name="{{name}}" src="{{productImage photoUrl 50}}" alt="missing photo of {{name}}" />
                  </td>
                  <td class="product-name">{{name}}</td>
                </tr>
                  <tr class="product-description">
                  <td>{{description}}</td>
                </tr>
              </table>
            </td>
            <td>{{money price}}</td>
            <td>{{#categories}}{{name}}{{/categories}}</td>
            <td>{{likes}}</td>
            <td>
              {{!--nested tables for layout. please forgive me.}}
              {{#tags}}
              <div class="product-tag">{{tag}}</div>
              {{/tags}}
            </td>
            <td><button class="btn btn-small msg" data-msg-name="editProduct" data-id="{{id}}">Edit Item</button></td>
          </tr>
          {{/products}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="editCategoriesModal" class="hide">
  <h3>Edit Categories</h3>
  <hr />
  <div id="editCategoriesContent">
  </div>
  {{! add fake form here so the controls will line up}}
  <form>
    <div class="form-actions">
      <div class="row-fluid">
        <div class="span9 offset3">
          <button class="btn btn-primary msg" data-msg-name="saveMenuSectionEdits">Save Changes</button>
          <button class="btn msg" data-msg-name="cancelMenuSectionEdits">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="productEditView" class="row-fluid hide">
  <div class="span12">
    <h3 id="productEditTitle">Edit Product</h3>
    <hr />
    <div id="productEditContainer">
    </div>
    {{! add fake form here so the controls will line up}}
    <form class="form-horizontal">
      <div class="form-actions">
        <button class="btn btn-primary msg" data-msg-name="saveProductEdits">Save Changes</button>
        <button class="btn msg" data-msg-name="cancelProductEdits">Cancel</button>
      </div>
    </form>
  </div>
</div>
