<div id="tablet-view-container">
  <h3>Manage Tablet for Location {{location.street1}}</h3>
  <hr />
  <div class="row-fluid">
    <div class="span4">
      {{!-- dummy form so boostrap will style}}
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Categories:</label>
        <div class="controls controls-row">
          <select id="categorySelect" style="width:100%">
            {{#categories}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/categories}}
          </select>
        </div>
        </div>
      </form>
    </div>
    <div class="span8">
      <button class="btn msg" data-msg-name="editTabletOrder">Edit Display order on Tablet</button>
    </div>
  </div>
  {{! product table container}}
  <div class="row-fluid">
    <div class="span12">
      <table>
        <thead>
          <tr>
            <td style="width:200px">Item Name</td>
            <td style="width:200px">Photo</td>
            <td>{{! edit button }}</td>
            <td class="display-toggle">Display on Tablet?</td>
            <td class="display-toggle">Spotlight on Tablet?</td>
          </tr>
        </thead>
        <tbody>
          {{#products}}
          {{! class name with product id in it so the row element can be found
          by the product id
          }}
          <tr class="tablet-product-row-{{id}}">
            <td>{{name}}</td>
            <td>
              {{#if photoUrl}}
              <img class="msg" data-msg-name="showPhoto" data-url="{{photoUrl}}" data-name="{{name}}" src="{{photoUrl}}/convert?w=100&h=100" alt="missing photo of {{name}}" />
              {{/if}}
            </td>
            <td>
              <button class="btn msg">Edit Picture</button>
            </td>
            <td class="display-toggle">
              <label>
                <input type="checkbox" class="inGallery msg" data-msg-name="toggleProductGalleryBegin" data-id="{{id}}" {{#inGallery}}checked{{/inGallery}} />
              </label>
              <span class="inGallery hide">Saving...</span>
            </td>
            <td class="display-toggle">
              <label>
                <input type="checkbox" class="inSpotlight msg" data-msg-name="toggleProductSpotlightBegin" data-id="{{id}}" {{#inSpotlight}}checked{{/inSpotlight}} />
                <span class="inSpotlight hide">Saving...</span>
              </label>
            </td>
          </tr>
          {{/products}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="tablet-edit-container" class="hide">
</div>
