{{#each data}}<tr class="category-row" data-id="{{id}}">
  <td><a class="category-order" href="#" data-id="{{id}}">{{order}}</a></td>
  <td><a class="category-name" href="#" data-id="{{id}}">{{name}}</a></td>
  <td><a class="category-description" href="#" data-id="{{id}}">{{description}}</a></td>
  <td>
    <button class="delete-category-button btn btn-small btn-danger" data-id="{{id}}">Delete</button>
  </td>
</tr>{{/each}}