{{#each data}}<tr class="item-row", data-id="{{id}}">
  <td><a class="item-name" href="#" data-id="{{id}}">{{name}}</a></td>
  <td><a class="item-description" href="#" data-id="{{id}}">{{description}}</a></td>
  <td>$ <a class="item-price" href="#" data-id="{{id}}">{{money price}}</a></td>
  <td><a class="item-categories" href="#" data-id="{{id}}"></a></td>
  <td><a class="item-tags" href="#" data-id="{{id}}">{{tags}}</a></td>
  <td class="item-row-photo">
    <span class="clear-img-btn" data-id="{{id}}">x</span>
    <img data-id="{{id}}" src="{{#if photoUrl}}{{photoUrl}}/convert?w=100&h=100{{else}}http://cdn.filepicker.io/api/file/MhFglMNdTGm7qkF2LMdK/convert?w=78{{/if}}" class="product-img" id="product-{{id}}-img">
  </td>
  <td>
    <button class="delete-item-button btn btn-small btn-danger" data-id="{{id}}">Delete</button>
  </td>
</tr>{{/each}}
