<tr>
  <td>
    <a href="#" title="{{#if isflagged}}{{comment}}{{/if}}" data-id="{{id}}" class="is-flagged icon-flag" style='color:{{#if isflagged}}blue{{else}}grey{{/if}};'></a>
    {{id}}
  </td>
  <td>
    <a href="#/businesses/{{id}}">{{name}}</a>
  </td>
  <td class="actions">
    <a href="#/businesses/{{id}}" class="icon-edit"></a>
    <a href="#" data-id="{{id}}" class="is-verified icon-check{{#if isVerified}} {{else}}-empty{{/if}}" style='color:{{#if isVerified}}green{{else}}red{{/if}};'></a>
  </td>
</tr>