<tr>
  <td>{{id}}</td>
  <td>
    <a href="#/businesses/{{id}}">{{name}}</a>
  </td>
  <td class="actions">
    <a href="#/businesses/{{id}}" class="icon-edit"></a>
    <a href="#/businesses" class="icon-check{{#if complete}} {{else}}-empty{{/if}}"></a>
  </td>
</tr>