<div class="errors">
</div>

<form id="location-details-form" class="form-horizontal">
  {{#ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="location-name-input">Location Name</label>
    <div class="controls">
      <input class="span4 field-name" type="text" id="location-name-input" value="{{name}}" placeholder="Enter the location name">
    </div>
  </div>
  {{/ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="location-street1-input">Address</label>
    <div class="controls controls-row">
      <input class="span2 field-street1" type="text" id="location-street1-input" value="{{street1}}" placeholder="Street 1">
      <input class="span2 field-street2" type="text" id="location-street2-input" value="{{street2}}" placeholder="Street 2">
    </div>
  </div>
  {{#ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="location-name-input">City/Zip</label>
    <div class="controls controls-row">
      <input class="span3 field-city" type="text" id="location-city-input" value="{{city}}" placeholder="City">
      <input type="text" id="location-zip-input" value="{{zip}}" class="span1 field-zip" placeholder="zip">
    </div>
  </div>
  {{else}}
  <div class="control-group">
    <label class="control-label" for="location-city-input">City</label>
    <div class="controls controls-row">
      <input class="span4 field-city" type="text" id="location-city-input" value="{{city}}" placeholder="Austin">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="location-state-input">State</label>
    <div class="controls controls-row">
      <input class="span2 field-state" type="text" id="location-state-input" value="{{state}}" placeholder="TX" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="location-zip-input">Zip</label>
    <div class="controls controls-row">
      <input class="span2 field-zip" type="text" id="location-zip-input" value="{{zip}}" placeholder="78751">
    </div>
  </div>
  {{/ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="location-phone-display">Phone Number (Display)</label>
    <div class="controls controls-row">
      <input class="span4 field-phone-display" type="tel" id="location-phone-display" readonly>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="location-street1-input">Phone Number</label>
    <div class="controls controls-row">
      <input class="span4 field-phone" type="tel" id="location-phone-input" value="{{phone}}" placeholder="1234567890">
    </div>
  </div>
  {{#ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="location-lat-input">Latitude &amp; Longitude</label>
    <div class="controls controls-row">
      <input class="span2 field-lat" type="text" id="location-lat-input" value="{{lat}}" placeholder="Latitude">
      <input class="span2 field-lon" type="text" id="location-lon-input" value="{{lon}}" placeholder="Longitude">
    </div>
  </div>
  <legend class="hours-heading">Hours of Operation</legend>
  <div class="row hour-actions-heading">
    <div class="span1 offset2">
      <h5>Opening</h5>
    </div>
    <div class="span1">
      <h5>Closing</h5>
    </div>
    <div class="span1">
      <h5>Closed</h5>
    </div>
    <div class="span1">
      <h5>24-Hour</h5>
    </div>
  <!--
    <div class="span1">
      <h5>Unknown</h5>
    </div>
  -->
  </div>
  <div class="control-group" data-day="monday">
    <!-- Monday -->
    <label class="control-label" for="location-start-monday-input">Monday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-monday-input" value="{{startMonday}}">
      <input class="span1" type="time" id="location-end-monday-input" value="{{endMonday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-monday-closed-input" class="closed" name="location-monday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-monday-all-day-input" class="all-day" name="location-monday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-monday-unknown-input" class="unknown" name="location-monday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="tuesday">
    <!-- Tuesday -->
    <label class="control-label" for="location-start-tuesday-input">Tuesday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-tuesday-input" value="{{startTuesday}}">
      <input class="span1" type="time" id="location-end-tuesday-input" value="{{endTuesday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-tuesday-closed-input" class="closed" name="location-tuesday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-tuesday-all-day-input" class="all-day" name="location-tuesday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-tuesday-unknown-input" class="unknown" name="location-tuesday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="wednesday">
    <!-- Wednesday -->
    <label class="control-label" for="location-start-wednesday-input">Wednesday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-wednesday-input" value="{{startWednesday}}">
      <input class="span1" type="time" id="location-end-wednesday-input" value="{{endWednesday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-wednesday-closed-input" class="closed" name="location-wednesday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-wednesday-all-day-input" class="all-day" name="location-wednesday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-wednesday-unknown-input" class="unknown" name="location-wednesday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="thursday">
    <!-- Thursday -->
    <label class="control-label" for="location-start-thursday-input">Thursday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-thursday-input" value="{{startThursday}}">
      <input class="span1" type="time" id="location-end-thursday-input" value="{{endThursday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-thursday-closed-input" class="closed" name="location-thursday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-thursday-all-day-input" class="all-day" name="location-thursday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-thursday-unknown-input" class="unknown" name="location-thursday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="friday">
    <!-- Friday -->
    <label class="control-label" for="location-start-friday-input">Friday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-friday-input" value="{{startFriday}}">
      <input class="span1" type="time" id="location-end-friday-input" value="{{endFriday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-friday-closed-input" class="closed" name="location-friday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-friday-all-day-input" class="all-day" name="location-friday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-friday-unknown-input" class="unknown" name="location-friday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="saturday">
    <!-- Saturday -->
    <label class="control-label" for="location-start-saturday-input">Saturday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-saturday-input" value="{{startSaturday}}">
      <input class="span1" type="time" id="location-end-saturday-input" value="{{endSaturday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-saturday-closed-input" class="closed" name="location-saturday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-saturday-all-day-input" class="all-day" name="location-saturday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-saturday-unknown-input" class="unknown" name="location-saturday-action">
      </div>
    -->
    </div>
  </div>
  <div class="control-group" data-day="sunday">
    <!-- Sunday -->
    <label class="control-label" for="location-start-sunday-input">Sunday</label>
    <div class="controls controls-row">
      <input class="span1" type="time" id="location-start-sunday-input" value="{{startSunday}}">
      <input class="span1" type="time" id="location-end-sunday-input" value="{{endSunday}}">
      <!-- <div class="span1"></div> -->
      <div class="span1 hour-action">
        <input type="radio" id="location-sunday-closed-input" class="closed" name="location-sunday-action">
      </div>
      <div class="span1 hour-action">
        <input type="radio" id="location-sunday-all-day-input" class="all-day" name="location-sunday-action">
      </div>
    <!--
      <div class="span1 hour-action">
        <input type="radio" id="location-sunday-unknown-input" class="unknown" name="location-sunday-action">
      </div>
    -->
    </div>
  </div>
  </div>
  <div class="alert-container">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary save">Save changes</button>
    <button class="btn cancel">Cancel</button>
  </div>
  {{/ifAdmin}}
</form>
