<div class="header">
  <h3 class="location-name">{{name}}</h3>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn edit">Edit</button>
      <button class="btn btn-danger delete">Delete</button>
    </div>
  </div>
  <div class="info well">
    <div class="row">
      <div class="span4">
        <div class="module address">
          <h5 class="title">Address</h5>
          <address class="location-address">
            {{street1}}{{#if street2}}, {{street2}}{{/if}}
            <br />
            {{city}}, {{state}} {{zip}}
          </address>
        </div>
        <div class="module location-lat-lon">
          <h5 class="title">Latitude &amp; Longitude</h5>
          <p>
            <span class="location-lat">{{lat}}</span>,
            <span class="location-lon">{{lon}}</span>
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="module hours">
          <h5 class="title">Hours of Operation</h5>
          <dl class="hours-list">
            <div class="day monday">
              <dt>M:</dt>
              <dd>{{showHours startMonday endMonday}}</dd>
            </div>
            <div class="day tuesday">
              <dt>Tu:</dt>
              <dd>{{showHours startTuesday endTuesday}}</dd>
            </div>
            <div class="day wednesday">
              <dt>W:</dt>
              <dd>{{showHours startWednesday endWednesday}}</dd>
            </div>
            <div class="day thursday">
              <dt>Th:</dt>
              <dd>{{showHours startThursday endThursday}}</dd>
            </div>
            <div class="day friday">
              <dt>F:</dt>
              <dd>{{showHours startFriday endFriday}}</dd>
            </div>
            <div class="day saturday">
              <dt>Sa:</dt>
              <dd>{{showHours startSaturday endSaturday}}</dd>
            </div>
            <div class="day sunday">
              <dt>Su:</dt>
              <dd>{{showHours startSunday endSunday}}</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>