<div class="errors">

</div>

<div id="loyalty-result"></div>

<form id="loyalty-form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="loyalty-requiredItem">Required Item</label>
    <div class="controls">
      <input class="span5 show-in-result" type="text" id="loyalty-requiredItem" value="{{requiredItem}}" placeholder="e.g. Tacos">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="loyalty-reward">Reward</label>
    <div class="controls">
      <input class="span5 show-in-result" type="text" id="loyalty-reward" value="{{reward}}" placeholder="e.g. Burrito">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="loyalty-regularPunchesRequired">Punches Required</label>
    <div class="controls">
      <input class="span5 show-in-result" type="text" id="loyalty-regularPunchesRequired" value="{{regularPunchesRequired}}" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="loyalty-elitePunchesRequired">Elite Punches Required</label>
    <div class="controls">
      <input class="span5" type="text" id="loyalty-elitePunchesRequired" value="{{elitePunchesRequired}}" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="loyalty-punchesRequiredToBecomeElite">Punches Until Elite</label>
    <div class="controls">
      <input class="span5" type="text" id="loyalty-punchesRequiredToBecomeElite" value="{{punchesRequiredToBecomeElite}}" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="photo-url">Photo</label>
    <div class="controls">
      <img src="{{defaultBusinessLogo photoUrl}}" class="photo-url" width="300">
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>