<li class="main">
  <a href="#/businesses/{{id}}">Main Info</a>
</li>
<li class="loyalty">
  <a href="#/businesses/{{id}}/loyalty">Loyalty Settings</a>
</li>
<li class="locations">
  <a href="#/businesses/{{id}}/locations/page/1">Locations</a>
</li>
<li class="menu-categories">
  <a href="#/businesses/{{id}}/menu-categories">Menu Items/Categories</a>
</li>
<li class="menu-details">
  <a href="#/businesses/{{id}}/menu-details">Menu Details</a>
</li>
<li class="tapin-stations">
  <a href="#/businesses/{{id}}/tapin-stations">TapIn Stations</a>
</li>
<li class="social-media">
  <a href="#/businesses/{{id}}/locations">Social Media</a>
</li>