<li class="main">
  <a href="#/businesses/{{id}}">
    <i class="icon-home" /> Main Info
  </a>
</li>
<li class="loyalty">
  <a href="#/businesses/{{id}}/loyalty">
    <i class="icon-gift" /> Loyalty Settings
  </a>
</li>
<li class="locations">
  <a href="#/businesses/{{id}}/locations/page/1">
    <i class="icon-building" /> Locations
  </a>
</li>
<li class="products">
  <a href="#/businesses/{{id}}/products">
    <i class="icon-food" /> Products
  </a>
</li>
<li class="product-categories">
  <a href="#/businesses/{{id}}/products/categories">
    <i class="icon-tags" /> Product Categories
  </a>
</li>
<li class="menu-details">
  <a href="#/businesses/{{id}}/menu-details">
    <i class="icon-tasks" /> Menu Details
  </a>
</li>
<li class="tapin-stations">
  <a href="#/businesses/{{id}}/tapin-stations/page/1">
    <i class="icon-desktop" /> TapIn Stations
  </a>
</li>
<li class="cashiers">
  <a href="#/businesses/{{id}}/cashiers/page/1">
    <i class="icon-group" /> Cashiers
  </a>
</li>
<li class="managers">
  <a href="#/businesses/{{id}}/managers/page/1">
    <i class="icon-user" /> Managers
  </a>
</li>
<!-- <li class="social-media">
  <a href="#/businesses/{{id}}/locations">Social Media</a>
</li> -->