<li class="main">
  <a href="#/businesses/{{id}}">Main Info</a>
</li>
<li class="locations">
  <a href="#/businesses/{{id}}/locations">Locations</a>
</li>
<li class="menu-categories">
  <a href="#/businesses/{{id}}/locations">Menu Categories</a>
</li>
<li class="menu-items">
  <a href="#/businesses/{{id}}/locations">Menu Items</a>
</li>
<li class="social-media">
  <a href="#/businesses/{{id}}/locations">Social Media</a>
</li>